.border-circle {
    background-color: red;
}

.px-1 {
    font-weight: bold;
}

span .green {
    color: green;
}


.text-red {
    color: red;
    font-weight: bolder;
    font-size: 17px;
}

// .details {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.dit {
    font-weight: bold;
    color: orange;
}

.dit-t {
    color: #000000b8;
    font-size: 17px;
    font-family: cursive;
}