<div class="flex justify-content-between align-items-center flex-wrap">


    @for (product of Products; track $index) {
    <div [ngClass]="{
    'col-6':isSmallCard,
     'col-12 md:col-4 lg:col-3 ':!isSmallCard}">
        <div [ngClass]="{'flex flex-wrap lg:flex-nowrap justify-content-center gap-2':isSmallCard , '': !isSmallCard}">
            <figure [routerLink]="['/user/details',product._id]"
                [ngClass]="{'md:w-6rem lg:w-9rem':isSmallCard, 'wfull':!isSmallCard}"
                class="shadow-2 m-1 border-round-2xl overflow-hidden cursor-pointer">
                <img [ngClass]="{'h-full':isSmallCard , 'h-20rem':!isSmallCard}" #image
                    (error)="image.src = './assets/test.webp'" class="w-full" [src]="product.image" alt="product">
            </figure>
            <div class="content py-1 w-full">
                <p class="truncate-text overflow-hidden font-medium text-xs my-1">
                    {{ product.description.split(' ').slice(0, 15).join(' ') + (product.description.split(' ').length >
                    100 ? '...' : '') }}
                </p>
                <div class="flex align-items-center gap-2">
                    <div class="price flex gap-2 items-center">
                        <span class="text-color-secondary">
                            <del>14</del>
                        </span>
                        <span class="new-price font-bold">
                            {{product.price}}


                            <span class="green">$</span>

                        </span>
                    </div>
                    <div class="offer">
                        <span class="offer-s p-1 border-circle text-white text-xs">%{{product.discount}}</span>
                        <span class="fonot-bold text-xs fonot-bold px-1">off</span>
                    </div>
                </div>


            </div>
            @if(!isSmallCard){
            @if(product.isAddedToCart){
            <p-button [routerLink]="['/user/cart']" label="GO TO CART " severity="contrast"
                styleClass="my-2 uppercase w-full" icon="pi pi-shopping-cart text-xl" iconPos="left" />
            }@if(!product.isAddedToCart) {
            <p-button (click)="addToCart(product._id); product.isAddedToCart = true " label="add to cart"
                severity="warning" styleClass="my-2 uppercase w-full" icon="pi pi-cart-plus text-xl" iconPos="left" />

            }




            }
        </div>
    </div>

    }@empty {

    @if(!isSmallCard){
    <div class="flex-1 text-center">
        <div class="text-center warn">Product Name <span class="text-red"> {{searchKey}} </span> It is Not Found</div>
        <app-empty></app-empty>

    </div>
    }

    }



</div>