.border-circle {
    background-color: red;
}

.px-1 {
    font-weight: bold;
}

span .green {
    color: green;
}

p.truncate-text.overflow-hidden.font-medium.text-xs.my-1 {
    height: 45px;

}

.text-red {
    color: red;
    font-weight: bolder;
    font-size: 17px;
}

.warn {
    margin-bottom: -75px;
    margin-top: 35px;
}