<section>
    <div class="container-fluid">
        <h5 class="font-bold text-color-secondary"> HOT SALE</h5>
        <div class="grid">
            <div class="col-12 md:col-5">
                <div class="card">
                    <p-galleria 
                        [value]="images" 
                        [circular]="true" 
                        [showItemNavigators]="true" 
                        [showThumbnails]="false" 
                        [containerStyle]="{ 'max-width': '100%','border-radius': '10px', overflow:'hidden'}">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.itemImageSrc" style="width: 100%; display: block; height: 240px;" />
                            </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="hidden md:block md:col-6">
                <div class="flex justify-content-between align-items-center flex-wrap">
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex flex-wrap lg:flex-nowrap justify-content-center gap-2">
                            <figure class="shadow-2 m-1 border-round-2xl overflow-hidden md:w-7rem lg:w-12rem">
                                <img class="w-full h-full" src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant%20sport.jpg" alt="product">
                            </figure>
                            <div class="content py-1">
                                <p class="truncate-text overflow-hidden font-medium text-sm text-dark my-1" >Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop (Windows 10/8 /7, Steam) / PS3 / Android </p>
                                <div class="price flex gap-2 items-center pb-2">
                                    <span class="text-color-secondary">
                                        <del>14</del>
                                    </span>
                                    <span class="new-price font-bold" >
                                        14
                                        <span class="green">$</span>
                                    </span>
                                </div>
                                <div class="offer">
                                    <span class="offer-s p-1 border-circle text-white">%3</span>
                                    <span class="fonot-bold text-xs fonot-bold px-1"  >off</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>