
.bg-orange-400{
    background-color: #ff491f !important;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
}

.p-badge{
    background: #ff491f ;
}
.user-name{
    width: auto;
    cursor: pointer;
    border-radius: 5px;
}
.user-name::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    border: {
        style: solid;
        width: 15px;
        color: #ff491f transparent transparent transparent;
    };
}

.logout{
    bottom: 0;
    transform: translate(-50%,calc(100% + 15px));
    text-align: center;
    width: auto;
    border-radius: 5px;
}